* {
    margin: 10;
    padding: 10;
}

body {
    font-family: 'CustomFont', Arial, sans-serif;
}

h1 {
    font-family: 'CustomFont', Arial, sans-serif;
}

.container {
    margin-left: 20rem;
    height: 100vh;
    margin-right: 20rem;
}

.header-text {
    justify-content: center;
    text-align: center;
}

.header-container-image {
    display: flex;
    margin-left: 20rem;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-right: 30rem;
}

.header-container-image-text {
    margin-bottom: 10vh;
}

.header-image {
    border-radius: 15%;
}

.header-title {
    font-weight: 100;
    font-size: 35px;
}

.lista {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabella {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    justify-content: space-between;
}




