@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

img {
    cursor: pointer;
}

.main {
    width: 100%;
}

.topbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    height: 100%;
}

.icon {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    cursor: pointer;
}

.icon p {
    margin: 0;
}

.icon:not(:first-of-type) {
    height: 16vh;
}

.logo {
    height: 50%;
}

.icons-wrapper {
    display: flex;
    align-items: center;
    margin-right: 7.5rem;
    width: 0.4375rem;
}

.flex-div {
    align-items: center;
    display: flex;

}

.nav-middle .search {
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    margin-right: 0.9375rem;
    padding: 0.5rem 0.75rem;

}

.nav-middle .search input {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 25rem;

}

.top-icon {
    font-size: 2em;
    padding: 0 0.5em;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.nav-right {
    margin-right: 3.5rem;
}

.nav-right i {
    cursor: pointer;
    margin-right: 1.5625rem;
    width: 0.625rem;
}

.content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    align-content: flex-start;
}

.content-thumbnail {
    width: 100%;
}

.content-info {
    display: flex;
    align-items: center;
}

.content-info > img {
    width: 15%;
}

.content-title {
    margin: 5px;
    margin-left: 20px;
    height: 40%;
}

.content-title > p {
    margin-top: 0;
}

.user {
    border-radius: 50%;
    margin-right: 0;
    width: 2.8125rem;
}